
.aeobtsflx-parallax img {
  display: block;
  width: 100% !important;
}

.aeobtsflx-parallax{
	overflow:hidden;
}

.aeobtsflx-parallax {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.aeobtsflx-parallax .aeobtsflx-scene {
  padding: 0;
  margin: 0;
}

.aeobtsflx-parallax .fill {
  position: absolute;
  bottom: 0% !important;
  right: 0% !important;
  left: 0% !important;
  top: 0% !important;
}

.aeobtsflx-scene .aspect {
	width: 100% !important;
}

.aeobtsflx-scene .layer{
	height: auto;
	width: auto;
}

.aeobtsflx-scene .layer.expand-width {
	height: 100%;
	width: 100%;
}

.aeobtsflx-scene .layer div{
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  
}

.aeobtsflx-scene .shop-callout{
	  text-align: center;
}

.aeobtsflx-scene .layer .shop-callout .button {
	z-index: 999 !important;
}

.aeobtsflx-scene .layer .shop-callout .replay {
	z-index: 999 !important;
}


/* CORE */
.aeobtsflx-core .heading {
	left: 21.3% !important;
	top: 12% !important;
	position: absolute !important;
	width: 49%;
	height: 26%;
	background-image: url(../images/aeobtsflx-core-heading.png);
}

.aeobtsflx-core .max {
  left: -2% !important;
  bottom: -2% !important;
  position: absolute !important;
  width: 90%;
  height: 90%;
  background-image: url(../images/aeobtsflx-core-max.png);
}

.aeobtsflx-core .shop-callout {
	left: 57% !important;
	top: 39% !important;
	color: #ff861a;
	text-transform: uppercase;
	position: absolute;
	width: 25.8%;
}

.aeobtsflx-core .shop-callout .button img {
	width: 45% !important;
	margin-top: 8%;
	margin-right: auto;
	margin-left: auto;
}


/* ACTIVE */

.aeobtsflx-active .heading {
	left: 26.2% !important;
	top: 7.8% !important;
	position: absolute !important;
	width: 31.8%;
	height: 11.5%;
	background-image: url(../images/aeobtsflx-active-heading.png);
}

.aeobtsflx-active .man {
	left: 27% !important;
	top: 17.2% !important;
	position: absolute !important;
	width: 62%;
	height: 62%;
	background-image: url(../images/aeobtsflx-active-man.png);
}

.aeobtsflx-active .shop-callout {
	left: 61.3% !important;
	top: 45.2% !important;
	color: #ff861a;
	text-transform: uppercase;
	position: absolute;
	width: 19.2%;
}

.aeobtsflx-active .shop-callout .button img {
	width: 60% !important;
	margin-top: 10%;
	margin-right: auto;
	margin-left: auto;
}

/* EXTREME */

.aeobtsflx-extreme .heading {
  left: 44.4% !important;
  top: 7.8% !important;
  position: absolute !important;
  width: 38%;
  height: 20%;
  background-image: url(../images/aeobtsflx-extreme-heading.png);
}

.aeobtsflx-extreme .dock {
  left: 9.8% !important;
  bottom: -6.4% !important;
  position: absolute !important;
  width: 92.5%;
  height: 92.6%;
  background-image: url(../images/aeobtsflx-extreme-dock.png);
}


.aeobtsflx-extreme .shop-callout {
  left: 18% !important;
  top: 38.2% !important;
  color: #ff861a;
  text-transform: uppercase;
  position: absolute;
  width: 29%;
}

.aeobtsflx-extreme .shop-callout .button img {
	width: 38% !important;
	margin-top: 5.5%;
	margin-right: auto;
	margin-left: auto;
}

/* X4 */
.aeobtsflx-x4 .heading {
	left: 15.2% !important;
	top: 16.8% !important;
	position: absolute !important;
	width: 30%;
	height: 21.1%;
	background-image: url(../images/aeobtsflx-x4-heading.png);
}

.aeobtsflx-x4 .eli {
	left: 25.5% !important;
	bottom: -2% !important;
	position: absolute !important;
	width: 90%;
	height: 93%;
	background-image: url(../images/aeobtsflx-x4-eli.png);
}

.aeobtsflx-x4 .shop-callout {
  left: 59.5% !important; 
  top: 42.8% !important;
  color: #ff861a;
  text-transform: uppercase;
  position: absolute;
  width: 22%; 
}

.aeobtsflx-x4 .shop-callout .button img {
	width: 55% !important;
	margin-top: 8%;
	margin-right: auto;
	margin-left: auto;
}


/* X */
.aeobtsflx-x .heading {
	left: 16.2% !important;
	top: 12.1% !important;
	position: absolute !important;
	width: 45%;
	height: 26.5%;
	background-image: url(../images/aeobtsflx-x-heading.png);
}

.aeobtsflx-x .maia {
	left: 28% !important;
	bottom: -1% !important;
	position: absolute !important;
	width: 63%;
	height: 92%;
	background-image: url(../images/aeobtsflx-x-maia.png);
}

.aeobtsflx-x .shop-callout {
	left: 58.7% !important;
	top: 46% !important;
	color: #ff861a;
	text-transform: uppercase;
	position: absolute;
	width: 26%;
}

.aeobtsflx-x .shop-callout .button img {
	width: 49% !important;
	margin-top: 8%;
	margin-right: auto;
	margin-left: auto;
}

/* SATEEN */
.aeobtsflx-sateen .heading {
	left: 29.2% !important;
	top: 11.9% !important;
	position: absolute !important;
	width: 46%;
	height: 19%;
	background-image: url(../images/aeobtsflx-sateen-heading.png);
}

.aeobtsflx-sateen .maia {
	left: 46.5% !important;
	bottom: 0.5% !important;
	position: absolute !important;
	width: 70%;
	height: 90%;
	background-image: url(../images/aeobtsflx-sateen-maia.png);
}

.aeobtsflx-sateen .shop-callout {
	left: 24.8% !important;
	top: 44% !important;
	color: #ff861a;
	text-transform: uppercase;
	position: absolute;
	width: 23.7%;
}

.aeobtsflx-sateen .shop-callout .button img {
	width: 53% !important;
	margin-top: 8.5%;
	margin-right: auto;
	margin-left: auto;
}


/* DENIM END */
.aeobts-denim-end .heading {
	left: 46% !important;
	top: 9% !important;
	position: absolute !important;
	width: 44%;
	height: 32%;
	background-image: url(../images/aeobtsflx-end-heading.png);
}

.aeobts-denim-end .bridget {
	left: 3.5% !important;
	top: 3% !important;
	position: absolute !important;
	width: 80%;
	height: 92%;
	background-image: url(../images/aeobtsflx-end-bridget.png);
}

.aeobts-denim-end .shop-callout {
	left: 43% !important;
	top: 55% !important;
	color: #ff861a;
	text-transform: uppercase;
	position: absolute;
	width: 12%;
}

.aeobts-denim-end .shop-callout.sateen {
	left: 78.3% !important;
	top: 50.4% !important;
}

.aeobts-denim-end .shop-callout.x {
	left: 58.6% !important;
	top: 50.4% !important;
}

.aeobts-denim-end .shop-callout.x_4 {
	left: 38.7% !important;
	top: 50.4% !important;
}

.aeobts-denim-end .shop-callout > img {
	width: 54% !important;
	margin-right: auto;
	margin-left: auto;
}

.aeobts-denim-end .shop-callout.sateen > img {
	width: 61.5% !important;
	margin-right: auto;
	margin-left: auto;
}

.aeobts-denim-end .shop-callout .button img {
	width: 96% !important;
	margin-top: 15%;
	margin-right: auto;
	margin-left: auto;
}

.aeobts-denim-end .shop-callout .replay img {
	width: 62% !important;
	margin-top: 20%;
	margin-right: auto;
	margin-left: auto;
}


/* FLEX/DENIM END */
.aeobtsflx-flexdenim .heading {
  left: 19.6% !important;
  top: 17.4% !important;
  position: absolute !important;
  width: 34.6%;
  height: 23.7%;
  background-image: url(../images/aeobtsflx-flexdenim-heading.png);
}

.aeobtsflx-flexdenim .man {
  left: 48.5% !important;
  top: 5% !important;
  position: absolute !important;
  width: 52.5%;
  height: 52.5%;
  background-image: url(../images/aeobtsflx-flexdenim-man.png);
}

.aeobtsflx-flexdenim .shop-callout {
	left: 43% !important;
	top: 55% !important;
	color: #ff861a;
	text-transform: uppercase;
	position: absolute;
	width: 12.5%;
}

.aeobtsflx-flexdenim .shop-callout.extreme {
  left: 65.8% !important;
  top: 61.5% !important;
  width: 18.8%;
}

.aeobtsflx-flexdenim .shop-callout.active {
  left: 40.7% !important;
  top: 61.5% !important;
  width: 18.8%;
  /*width: 14.7%;  */
}

.aeobtsflx-flexdenim .shop-callout.active > img {
  width: 58% !important;
}

.aeobtsflx-flexdenim .shop-callout.core {
  left: 16% !important;
  top: 61.5% !important;
  width: 18.4%;
  /*width: 12.5%;*/
}

.aeobtsflx-flexdenim .shop-callout > img {
  width: 52% !important;
  margin-right: auto;
  margin-left: auto;
}

.aeobtsflx-flexdenim .shop-callout.extreme > img {
	width: 68% !important;
	margin-right: auto;
	margin-left: auto;
}

.aeobtsflx-flexdenim .shop-callout .button img {
  width: 67% !important;
  margin-top: 9%;
  margin-right: auto;
  margin-left: auto;
}

.aeobtsflx-flexdenim .shop-callout .replay img {
	width: 42% !important;
	margin-top: 14%;
	margin-right: auto;
	margin-left: auto;
}


